<h1>Restaurants List</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to(restaurant.name, "restaurants/#{restaurant.id}") %></li>
  <% end %>
</ul>

<%= link_to("Add a new restaurant", "restaurants/new") %>
